<html lang="en">
    <header class="text-center">
        <h1>Modifier un événement</h1>
    </header>

    <body>
        <%= form_with model: @event do |f| %>
            <div class="form-group">
                <label>Titre de l'événement :</label>
                <%= f.text_field :title, class: "form-control" %>
            </div>

            <div class="form-group">
                <label>Description de l'événement :</label>
                <%= f.text_area :description, class: "form-control" %>
            </div>

            <p><%= @event.admin.first_name %></p>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Modifier</button>
            </div>
        <% end %>
    </body>
</html>


