<html lang="en">
    <header class="text-center">
        <h2><FONT color="#263238">Nom de l'événement : <%= @event.title %></h2>
    </header>
    <body>
        <p>Ce qu'il faut savoir : <%= @event.description %></p>
        <p>Créé par <%= @event.admin.first_name %></p>
        <p><a href="/" class="btn btn-primary">Revenir en arrière</a></p>
    </body>
</html>